NODE_ENV=development
PORT = 8000
API_TOKEN=1234
MIGRATION_DB_HOST = localhost
MIGRATION_DB_PORT=5432
MIGRATION_DB_NAME=server-boilerplate
MIGRATION_DB_USER=postgres
DATABASE_URL="postgresql://postgres@localhost/server-boilerplate"
TEST_DB_URL ="postgresql://postgres@localhost/server-boilerplate"

ENV SET UP
PROD_MIGRATION_DB_NAME=GET NAME FROM HEROKU
PROD_MIGRATION_DB_HOST=GET HOST FROM HEROKU
PROD_MIGRATION_DB_PORT=GET PORT FROM HEROKU
PROD_MIGRATION_DB_USER=GET USER FROM HEROKU
PROD_MIGRATION_DB_PASS=GET DB FROM HEROKU
